* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
  width: 100%;
  margin-top: 32px;
  padding-bottom: 80px;
}

/* NAVEGACION PROCESO */
.navProgreso {
  display: flex;
  width: 1128px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.contenedorPaso {
  display: flex;
  padding: 4px 0px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.numero {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 2px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 11.927px;
  background: var(--LightBlue);
  color: var(--White, );
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.activo {
  background: var(--Blue);
}

.paso {
  color: var(--LightBlue);
  /* Text large */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.32px;
}

.presente {
  color: var(--Blue);
}

.divisor {
  height: 1px;
  flex: 1 0 0;
  background-color: var(--LightGray);
}

/*---- SELECCIONAR FECHAS ----*/
.buscador-reservas {
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--Gray-80, #C9C9CC);
  background: var(--White, #FBFBFF);
}

.campo {
  display: flex;
  padding: 16px 64px 16px 16px;
  align-items: center;
  gap: 8px;
}

/* ÍCONO FECHA */
.material-symbols-light--calendar-month {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23hsba(0, 0%25, 0%25, 1)' d='M12 14.154q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23m-4 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23m8 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.539t-.54.23M12 18q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.54T12 18m-4 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.54T8 18m8 0q-.31 0-.54-.23t-.23-.54t.23-.539t.54-.23t.54.23t.23.54t-.23.54T16 18M5.616 21q-.691 0-1.153-.462T4 19.385V6.615q0-.69.463-1.152T5.616 5h1.769V2.77h1.077V5h7.154V2.77h1V5h1.769q.69 0 1.153.463T20 6.616v12.769q0 .69-.462 1.153T18.384 21zm0-1h12.769q.23 0 .423-.192t.192-.424v-8.768H5v8.769q0 .23.192.423t.423.192'/%3E%3C/svg%3E");
}

/* ÍCONO PERSONA */
.material-symbols-light--person {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23hsba(0, 0%25, 0%25, 1)' d='M12 11.385q-1.237 0-2.119-.882T9 8.385t.881-2.12T12 5.386t2.119.88t.881 2.12t-.881 2.118t-2.119.882m-7 7.23V16.97q0-.619.36-1.158q.361-.54.97-.838q1.416-.679 2.834-1.018q1.417-.34 2.836-.34t2.837.34t2.832 1.018q.61.298.97.838q.361.539.361 1.158v1.646z'/%3E%3C/svg%3E");
}

.campo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.label {
  align-self: stretch;
  color: var(--DarkGray);

  /* Text regular */
  font-family: "DM Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.42px;
}

.input-fecha {
  align-self: stretch;
  color: var(--Black);

  /* Text large */
  font-family: "DM Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.02rem;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.input-fecha[type="number"] {
  width: 50px;
}

.separador {
  width: 1px;
  height: 56px;
  background-color: var(--LightGray);
}

/* CONFIRMACION */
.cont-confirmacion {
  display: inline-flex;
  align-items: flex-start;
  gap: 148px;
}

h2 {
  align-self: stretch;
  color: var(--Black);
  text-align: center;

  /* Title 1 */
  font-family: "Darker Grotesque";
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  /* 82.609% */
  letter-spacing: -1.38px;
}

.cont-costos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.seccion-costos {
  display: flex;
  padding: 32px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-bottom: 1px solid var(--LightGray, #C9C9CC);
}

.detail-label {
  color: var(--Black, #0C0C0D);

  /* Subtitle 2 */
  font-family: "DM Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  /* 105.263% */
  letter-spacing: -0.57px;
}

.detail-header {
  color: var(--Black, #0C0C0D);
  font-family: "DM Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 105.263% */
  letter-spacing: -0.57px;
}

.contPrecios {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.confirmation-details {
  display: flex;
  width: 657px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.guest-details {
  display: flex;
  width: 657px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  border: 1px solid var(--LightGray);
}

.guest-details-header {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--LightBlue, #BACEF7);
  color: var(--Black, #0C0C0D);
  border-bottom: 1px solid var(--LightGray);

  /* Subtítulo 2 */
  font-family: "DM Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 116.667% */
  text-align: center;
}

.cont-info-guest {
  display: flex;
  padding: 0px 32px 32px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

label {
  width: 180px;
  color: var(--Negro, #191919);
  /* Párrafos Bold */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}



.emailSuscripcion {
  display: flex;
  flex: 1 0 0;
  padding: 16px 16px;
  align-items: center;
  border: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--Black);
  color: var(--Black);

    /* Párrafos */
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 137.5% */
}

.select-placeholder:valid {
  color: var(--Black);
  /* Párrafos */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 137.5% */
}
.emailSuscripcion::placeholder, .select-placeholder {
  color: var(--Gris2, #666);
  /* Párrafos */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 137.5% */
}

.emailSuscripcion:focus {
  outline: none;
  border: 1px solid var(--Blue);
  background-color: var(--White);

}

select::first-line{
  color: var(--Gris2, #666);
  /* Párrafos */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  /* 137.5% */
}