* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
}

/* SECTION 1: HERO */
.hero {
    display: flex;
    padding: 20px 0px 40px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.hero div {
    display: flex;
    height: 365px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../MEDIA/img06.png) lightgray 50% / cover no-repeat;
}

/* SECTION 2: CONTADOR */
.contador {
    display: flex;
    padding: 40px 156px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.containerContador {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    gap: 16px;
}

.numberContainer {
    display: flex;
    height: 182px;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex: 1 0 0;
    text-align: center;
    border: 1px solid var(--DarkGray);
}

/* SECCIONES 2 Y 3: MISION VISION*/
.text-picture-right {
    display: flex;
    padding: 40px 0px 40px 156px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.text-picture-left {
    display: flex;
    padding: 40px 156px 40px 0px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.description {
    display: flex;
    width: 547px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
}

.containerImagen {
    display: flex;
    height: 350px;
    width: 100%;
    min-width: 547px;
    align-items: center;
    overflow: hidden;
}

#imgDerecha {
    width: 100%;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 63.62%, rgba(0, 0, 0, 0.80) 100%), url(../MEDIA/img07.png) lightgray 50% / cover no-repeat;
    position: relative;
    cursor: pointer;
}

#imgIzquierda {
    width: 100%;
    object-fit: cover;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 63.62%, rgba(0, 0, 0, 0.80) 100%), url(../MEDIA/img08.png) lightgray 50% / cover no-repeat;
    position: relative;
    cursor: pointer;
}

.containerOpenRight {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.containerOpenLeft {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
}

.close {
    position: absolute;
    top: 30px;
    right: 45px;
    cursor: pointer;
    color: white;
    /* o el color que estés usando */
    font-size: 32px;
    z-index: 1000;
    /* para que quede por encima del iframe */
}

.modal-content-video {
    margin: auto;
    display: block;
    max-width: 80%;
    height: auto;
    aspect-ratio: 16/9;
}


/* SECCIÓN: Colaboradores*/
.anchoDescripcion {
    width: 664px;
    text-align: center;
    gap: 20px;
}

.contTiraFoto {
    display: flex;
    padding: 40px 156px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.tiraFoto {
    display: flex;
    align-items: center;
    gap: 36px;
    align-self: stretch;
    overflow: hidden;
}

.imgTira {
    border-radius: 500px;
    border: 1px solid var(--DarkGray);
}

/* SECCIÓN: Galeria*/
.contenedorGaleria {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.galeria {
    width: 100%;
    display: flex;
    padding: 20px 0px 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.galeria div {
    display: flex;
    height: 365px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(../MEDIA/img10.png) lightgray 50% / cover no-repeat;
}

.galeriaFotos {
    display: none;
    /*TIENE QUE SER NONE*/
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}

.contenedorFotos {
    display: flex;
    padding: 0px 156px;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
    align-self: stretch;
    flex-wrap: wrap;
}

.contenedorFoto {
    width: 340px;
    height: 227px;
    overflow: hidden;
}

.fotoGaleria{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer{
margin-top: 80px;
}

/*--------- LIGHTBOX*/

#baguetteBox-overlay {
    display: none;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    background-color: #222;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

#baguetteBox-overlay.visible {
    opacity: 1;
}

#baguetteBox-overlay .full-image {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    /*poner la galeria en otro fondo*/
    /*background-color: #e4e4e4;*/
}

#baguetteBox-overlay .full-image figure {
    display: inline;
    margin: 0;
    height: 100%;
}

#baguetteBox-overlay .full-image img {
    display: inline-block;
    width: 700px;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

#baguetteBox-overlay .full-image figcaption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 1.8;
    white-space: normal;
    color: #ccc;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}

#baguetteBox-overlay .full-image:before {
    content: "";
    display: inline-block;
    height: 50%;
    width: 1px;
    margin-right: -1px;
}


/*animacion slider de las fotos*/

#baguetteBox-slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    -webkit-transition: left 0.4s ease, -webkit-transform 0.4s ease;
    transition: left 0.4s ease, -webkit-transform 0.4s ease;
    transition: left 0.4s ease, transform 0.4s ease;
    transition: left 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease, -moz-transform 0.4s ease;
}

#baguetteBox-slider.bounce-from-right {
    -webkit-animation: bounceFromRight 0.4s ease-out;
    animation: bounceFromRight 0.4s ease-out;
}

#baguetteBox-slider.bounce-from-left {
    -webkit-animation: bounceFromLeft 0.4s ease-out;
    animation: bounceFromLeft 0.4s ease-out;
}

@-webkit-keyframes bounceFromRight {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: -30px;
    }
}

@keyframes bounceFromRight {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: -30px;
    }
}

@-webkit-keyframes bounceFromLeft {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: 30px;
    }
}

@keyframes bounceFromLeft {
    0%,
    100% {
        margin-left: 0;
    }
    50% {
        margin-left: 30px;
    }
}

/*botones siguiente y anterior*/
.baguetteBox-button#next-button,
.baguetteBox-button#previous-button {
    top: 50%;
    top: calc(50% - 30px);
    width: 44px;
    height: 60px;
}

.baguetteBox-button {
    position: absolute;
    cursor: pointer;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
    -moz-border-radius: 15%;
    border-radius: 15%;
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.5);
    color: #ddd;
    font: 1.6em sans-serif;
    -webkit-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;
}

.baguetteBox-button:focus,
.baguetteBox-button:hover {
    background-color: rgba(50, 50, 50, 0.9);
}

.baguetteBox-button#next-button {
    right: 2%;
}

.baguetteBox-button#previous-button {
    left: 2%;
}


/* boton cerrar*/
.baguetteBox-button#close-button {
    top: 20px;
    right: 2%;
    right: calc(2% + 6px);
    width: 30px;
    height: 30px;
    color: var(--White);
}


/*posicion por defecto boton X (no quitar) */

.baguetteBox-button svg {
    position: absolute;
    left: 0;
    top: 0;
}

.baguetteBox-spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

.baguetteBox-double-bounce1,
.baguetteBox-double-bounce2 {
    width: 100%;
    height: 100%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}

.baguetteBox-double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}