.containerReto {
    display: flex;
    width: 100%;
    padding: 153px 120px 80px 120px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.containerRegistro-Consulta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
}

.inputNotas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: center;
}

.pInput {
    display: flex;
    padding: 8px;
    width: 350px;
    justify-content: left;
    align-items: center;
    align-self: stretch;
    border: 1px solid #CCC;
    color: #191919;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#resultado {
    display: none;
}

.texto {
    color: #191919;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}