.containerFactura {
    display: flex;
    width: 100%;
    padding: 153px 120px 80px 120px;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.containerLados {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
    flex: 1 0 0;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    align-self: stretch;
}

.input {
    display: flex;
    align-items: center;
    align-self: stretch;
}

label {
    display: flex;
    width: 100px;
    height: 36px;
    padding: 8px;
    justify-content: center;
    align-items: center;
    background: #CCC;
}

input {
    display: flex;
    padding: 8px;
    align-items: center;
    flex: 1 0 0;
    height: 36px;
    align-items: center;
    border: 1px solid #CCC;
}

.botones {
    display: flex;
    align-items: center;
    gap: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    color: #191919;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.infoProducto {
    color: #191919;
    height: 36px;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.tag {
    color: #191919;
    text-align: left;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.monto {
    color: #191919;
    text-align: right;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.total {
    background: #4D4D4D;
}

.tagTotal {
    color: #F5F7FA;
    text-align: left;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.montoTotal {
    color: #F5F7FA;
    text-align: right;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#navLeft {
    opacity: 0;
}