*{
    padding: 0;
    margin: 0;
}

.bodyIntro {
    background: url('background.jpg') lightgray 50% / cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.bodyWebSite{
    background-color: #F5F7FA;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


